<div class="wrapper-content">
  <div class="card text-center main-Content">
    <div class="center-block">
      <img [src]="userDetails.avatar_url" alt="" class="img-responsive center-block img-thumbnail" style="width:50%">
    </div>
    <hr>
    <h1>{{userDetails.name}}</h1>
    <p><strong>{{userDetails.bio}}</strong></p>
    <hr>
    <p><strong>{{userDetails.email}}</strong></p>
    <p><strong>{{userDetails.public_repos}}</strong> Public Repositories</p>
    <p><strong>{{userDetails.followers}}</strong> Followers</p>
    <p><strong>{{userDetails.following}}</strong> Following</p>
  </div>
</div>